#current {
  color: green;
}

.horizonal_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.home_nav {
  float: left;
}

.home_nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.home_nav a:hover {
  background-color: #111;
}